{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fonte: {{ link }}</title>
        <link href="{% static 'djsourceview/prism.css' %}" rel="stylesheet"/>
        <script src="{% static 'inspinia/js/jquery/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'djsourceview/prism.js' %}" data-manual></script>
    </head>
    <body>
        <select id="djsourceviewlng">
            <option value="javascript">Javascript</option>
            <option value="Html">Html</option>
        </select>
        <pre id="djsourceview"></pre>
        <script type="application/javascript">
            var lng = '';
            $(document).ready(
                    $.ajax({
                        type: "{{ request.method }}",
                        url: "{{ request.scheme }}://{{ host }}/{{ url }}",
                        success: function (data, status, xhr) {
                            var ct = xhr.getResponseHeader("content-type") || "";
                            if (ct == 'application/javascript') {
                                lng = 'javascript'
                            } else {
                                lng = 'html'
                            }
                            console.log('Mine Type: ' + ct);
                            $('#djsourceview').html('<code id="djsourceviewcode" class="language-' + lng + ' line-numbers"></code>');
                            $('#djsourceviewcode').html(data);
                            Prism.highlightAll();
                        },
                        error: function () {
                            $('#code').html('Houve um erro ao recuperar o link: /{{ link }}')
                        }
                    }),
                    $('#djsourceviewlng').change(function () {
                        old_class = 'language-' + lng;
                        new_class = 'language-' + $('#djsourceviewlng').val().toLowerCase();
{#                        $('#djsourceview').removeClass(old_class).addClass(new_class);#}
{#                        $('#djsourceviewcode').removeClass(old_class).addClass(new_class);#}
{#                        Prism.highlightAll();#}
                    })
            );
        </script>
    </body>
</html>